[Unit]
Description=Custodian dinstall worker
After=network.target

[Service]
Type=oneshot
User=repo
Group=repo
ExecStart=/usr/bin/custodian-dinstall

[Install]
WantedBy=multi-user.target
